<%= form_for(@pharma) do |f| %>
  <% if @pharma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pharma.errors.count, "error") %> prohibited this pharma from being saved:</h2>

      <ul>
      <% @pharma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hsopitalname %><br>
    <%= f.text_field :hsopitalname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
